@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lato:wght@100&family=Roboto:wght@100&family=Rubik:wght@300&display=swap');

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333; /* Change the color to your preference */
    /* border-radius: 6px; */
}

::-webkit-scrollbar:hover {
    background: rgba(20, 20, 20); /* Change the color to your preference */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change the color to your preference */
}


/* Desktop screen */

@media (min-width: 800px) {

    body {
        width: 100vw;
        height: 100vh;
        background-color: rgba(20, 20, 20);
        overflow-x: hidden;
    }

    #main {
        width: 100%;
        height: 100%;
    }

    .background-image {
        background-image: url('images/rizky-subagja-1k7TnX5GAww-unsplash.jpg');
    }

    #main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 300px 1fr;
        position: relative;
    }

    .menu {
        background-color: rgba(0, 0, 0, 0.200);
        backdrop-filter: blur(3px);
        z-index: 2;
        box-shadow: 1px 0px 3px 0px rgba(20,20,20,0.2);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        height: 100%;
        width: 300px;
    }

    .menu-item {
        color: white;
        /* font-size: clamp(1rem, 2.5vw, 4rem); */
        font-size: 35px;
        display: block;
        text-decoration: none;
        /* padding: clamp(0.50rem, 1vw, 2rem) 0rem; */
        padding: 10px;
        /* padding: 50px; */
        transition: opacity 400ms ease;
        cursor: pointer;
    }
    
    .menu-items {
        /* margin-left: clamp(1rem, 3vw, 8rem); */
        margin-left: 35px;
        margin-bottom: 25px;
        position: relative;
        z-index: 3;
        width: 100%;
    }

    /* Placeholder to create offset on menu tab to align menu-items with content-containers */
    .placeholder {
        height: 150px;
        width: 100%;
        flex-shrink: 1;
    }
    
    .menu:hover .menu-item {
        opacity: 0.5;
    }
    
    .menu:hover .menu-item:hover {
        opacity: 1;
    }
    
    .menu-background-pattern {
        height: 100%;
        width: 100%;
    
        background-image: radial-gradient(
            rgba(2255, 255, 255, 0.1) 2%,
            transparent 12%
        );
        
        background-position: 0% 0%;
        background-size: 9.5vmin 9.5vmin;
    
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
        transition: opacity 800ms ease, 
                    background-size 800ms ease,
                    background-position 800ms ease;
    }
    
    .menu:hover > .menu-background-pattern {
        background-size: 12.5vmin 12.5vmin;
        opacity: 0.7;
    }
    
    .menu[data-active-index="0"] > .menu-background-pattern {
        background-position: 0% -25%;
    }
    
    .menu[data-active-index="1"] > .menu-background-pattern {
        background-position: 0% -50%;
    }
    
    .menu[data-active-index="2"] > .menu-background-pattern {
        background-position: 0% -75%;
    }
    
    .menu[data-active-index="3"] > .menu-background-pattern {
        background-position: 0% -100%;
    }
    
    .menu[data-active-index="0"] ~ .background-image {
        background-position: center 45%;
        transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    }
      
    .menu[data-active-index="1"] ~ .background-image {
        background-position: center 50%;
        transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    }
    
    .menu[data-active-index="2"] ~ .background-image {
        background-position: center 55%;
        transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    }
    
    .menu[data-active-index="3"] ~ .background-image {
        background-position: center 60%;
        transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    }
    
    .menu:hover ~ .background-image {
        background-size: 100vmax;
        opacity: 0.50;
        transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
    }

    .content {
        display: grid;
        justify-content: center;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        grid-template-columns: 1fr;
        /* margin-left: minmax(300px, 1fr); */
        grid-template-rows: minmax(10px, 50px) 9fr;
    }

    .menu-logo {
        background-image: url('images/Screenshot_2023-11-07_at_4.51.02_PM-removebg-preview.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        z-index: 1;
        height: max(10%, 50px);
        width: 40%;
        position: fixed;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        border-bottom: 0.5px white solid;
    }

    .content-container {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: clamp(10px, 15vh, 100px) 20px 10px 20px;
        color: white;
        z-index: 2;
        width: 80%;
        max-width: 700px;
        justify-self: center;
        display: flex;
    }

    .content-container > div {
        transition: opacity 1s ease-out;
        opacity: 1;
        transform: translateX(0%);
        box-shadow: 0px 0px 100px 50px rgba(20,20,20,1);
        height: fit-content;
        width: 100%;
        padding: 15px;


        --b: 0.5px; /* thickness of the border */
        --c: rgb(255, 255, 255); /* color of the border */
        --w: 100px; /* width of border */
        
        border: var(--b) solid #0000;
        --_g: #0000 90deg,var(--c) 0;
        --_p: var(--w) var(--w) border-box no-repeat;
        background:
            conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
            conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
            conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
            conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
            
            background-color: rgba(20, 20, 20, 0.8);
    }


    .content-container > div.hide {
        opacity: 0;
    }

    .home p:first-child {
    margin-bottom: 30px;
    }

    .product-item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .product-item-info {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 50%;
        gap: 15px;
    }

    .product-item-name,
    .product-item-price {
        text-align: center;
        font-size: clamp(1rem, 2.5vw, 4rem);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .product-item-name {
        border-bottom: 0.5px white solid;
    }

    .product-item-picture {
        width: 50%;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-item-picture img {
        max-width: 50%;
        /* max-height: 100%; */
        border-radius: 15px;
        height: auto;
        box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
        /* height: auto; */
    }

}


/* Mobile screen */

@media (max-width: 800px) {

    body {
        height: calc(100vh - 80px);
    }

    .background-image {
        background-image: url('images/rizky-subagja-1k7TnX5GAww-unsplash.jpg');
    }


    #main {
        height: 100%;
    }

    .menu {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(20, 20, 20);
        z-index: 5;
        width: 100%;
        height: 80px;
        top: 0;
        box-shadow: 0px 3px 3px 0px rgba(20,20,20,1);
    }

    .menu-items {
        display: flex;
        color: white;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .menu-item {
        z-index: 1;
        flex: 1 1 0;
        text-align: center;

    }

    .menu-items > div:not(:last-child) {
        border-right: 0.5px solid white;
    }

    .content {
        height: fit-content;
        margin-top: 80px;
    }

    .content-container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .content-container > div {
        transition: opacity 1s ease-out;
        opacity: 1;
        transform: translateX(0%);
        box-shadow: 0px 0px 100px 50px rgba(20,20,20,1);
        height: fit-content;
        width: 80%;
        max-width: 550px;
        padding: 15px;


        --b: 0.5px; /* thickness of the border */
        --c: rgb(255, 255, 255); /* color of the border */
        --w: 50px; /* width of border */
        
        border: var(--b) solid #0000;
        --_g: #0000 90deg,var(--c) 0;
        --_p: var(--w) var(--w) border-box no-repeat;
        background:
            conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
            conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
            conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
            conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
            
            background-color: rgba(20, 20, 20, 0.8);
    }

    .content-container > div.hide {
        opacity: 0;
    }

    .content-container {
        padding: clamp(10px, 15vh, 50px) 20px 10px 20px;
        color: white;
        z-index: 2;
    }

    .product-item {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
    }

    .product-item-info {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 50%;
        gap: 15px;
    }

    .product-item-name,
    .product-item-price {
        text-align: center;
        font-size: clamp(1rem, 3vw, 4rem);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .product-item-name {
        border-bottom: 0.5px white solid;
    }

    .product-item-picture {
        width: 50%;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-item-picture img {
        max-width: 65%;
        max-height: 140px;
        border-radius: 15px;
        height: auto;
        box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
        /* height: auto; */
    }

    .shop {
        margin: 30px
    }

}


/* Any screen */

body {
    width: 100vw;
    background-color: rgba(20, 20, 20);
    overflow-x: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-position: center 50%;
    background-size: 110vmax;
    background-repeat: no-repeat;

    opacity: 0.75;
    filter: blur(0px);
}

p {
    font-size: clamp(1rem, 2vw, 4rem);
    /* font-weight: 500; */
    line-height: 50px;
    text-align: center;
}